<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<meta charset="utf-8">-->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>列表</title>

    <!-- Bootstrap Core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <link href="//fontawesome.io/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<table id="ldhomework-table" 
			data-pagination="true"  
	       data-show-refresh="true"  
	       data-show-toggle="true"
	       data-search="true" 
	       data-showColumns="true">
		    <thead>
		        <tr>
		            <th data-field="userId" data-formatter="userIdFormatter" data-valign="middle" data-align="center">学员ID</th>
	            	<th data-field="homeworkFilename" data-formatter="homeworkFilenameFormatter" data-valign="middle" data-align="left">作业文件名</th>
	            	<th data-field="createDate" data-sortable="true" data-formatter="createDateFormatter" data-valign="middle" data-align="center">提交时间</th>
	            	<th data-field="starCount" data-formatter="starCountFormatter" data-valign="middle" data-align="center">点赞数</th>
	            	<th data-field="negativeCount" data-formatter="negativeCountFormatter" data-valign="middle" data-align="center">差评数</th>
	            	<th data-field="bestFlag" data-formatter="bestFlagFormatter" data-valign="middle" data-align="center">是否优秀作业</th>
	            	<th data-field="correctFlag" data-formatter="correctFlagFormatter" data-valign="middle" data-align="center">是否批改过</th>
	            	<th data-formatter="actionFormatter" data-valign="middle" data-align="center">操作</th> 
		        </tr>
		    </thead>
		    <tbody>
		    </tbody>
		</table>
	</div>
</body>
<!-- Footer -->
<footer class="footer">
    <div class=" col-lg-12 text-center">
        <hr>
         <p>Copyright &copy; sukeqiang 2017</p>
    </div>
    <!-- /.col-lg-12 -->
    <!-- /.row -->
</footer>
<!-- /.container -->

<!-- jQuery -->
<script src="//cdn.bootcss.com/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<!-- Bootstrap -->
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.js" type="text/javascript"></script>
<script src="/js/plugins/bootbox.js" type="text/javascript"></script>
<script src="/js/ldhomework.js" type="text/javascript"></script>
</html>